@page "/insumos"
<h1>Insumos</h1>
<br />
<p>Descripción insumos (*)</p>
<hr />

<button class="btn btn-outline-success" @onclick="()=>add(0)"><FeatherPlus Color="Green"></FeatherPlus></button>
<br />
<br />


<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10"
                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@oRespuesta.List" TItem="Insumo" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Insumo" Property="Id" Filterable="false" Title="ID" Frozen="true" Width="40px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Insumo" Property="Nombre" Title="Nombre" Width="100px" />
        <RadzenDataGridColumn TItem="Insumo" Property="Codigo" Title="Codigo" Filterable="false" Width="40px" />
        <RadzenDataGridColumn TItem="Insumo" Property="Descripcion" Title="Descripcion" Filterable="false" Width="100px" />
        <RadzenDataGridColumn TItem="Insumo" Property="StockReal" Title="StockReal" Filterable="false" Width="60px" />
        <RadzenDataGridColumn TItem="Insumo" Property="StockMin" Title="StockMin" Filterable="false" Width="60px" />
        <RadzenDataGridColumn TItem="Insumo" Property="StockMax" Title="StockMax" Filterable="false" Width="60px" />
        <RadzenDataGridColumn TItem="Insumo" Property="" Title="" Frozen="true" Sortable="false" Filterable="false" Width="20px">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="refresh" Class="m-1" Click=@(() => add(data.Id)) Text="" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Insumo" Property="" Title="" Frozen="true" Sortable="false" Filterable="false" Width="20px">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="report" Class="m-1" Click=@(() => Deletear(data.Id)) Text="" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    Respuesta<List<Insumo>> oRespuesta = new();

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<List<Insumo>>>("/api/Insumo");
        oRespuesta = respuesta;
        StateHasChanged();
    }

    async void Deletear(int id)
    {
        await http.DeleteAsync($"/api/Insumo/{id}");
        await Get();
    }

    async Task add(int id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(AddInsumo.id), id);



        var formModal = Modal.Show<AddInsumo>("Agregar insumo", parameters);
        var result = await formModal.Result;
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            await Get();
        }
    }
}