@page "/personal"
<h1>Personal</h1>
<br />
<p>Descripción personal (*)</p>
<hr />

<button class="btn btn-outline-success" @onclick="()=>add(0)"><FeatherPlus Color="Green"></FeatherPlus></button>
<br />
<br />


<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5"
                AllowPaging="true" ShowPagingSummary="true"
                Data="@oRespuesta.List" TItem="Personal" ColumnWidth="50px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Personal" Property="Id" Title="ID" Width="40px"  />
        <RadzenDataGridColumn TItem="Personal" Property="Nombres" Title="Nombres" Frozen="true" Width="100px" />
        <RadzenDataGridColumn TItem="Personal" Property="Apellido" Title="Apellido" Width="100px" />
        <RadzenDataGridColumn TItem="Personal" Property="Dni" Title="DNI" Width="80px" />
        <RadzenDataGridColumn TItem="Personal" Property="Mail" Title="Mail" Width="80px" />
        <RadzenDataGridColumn TItem="Personal" Property="Telefono" Title="Telefono" Width="80px" />
        <RadzenDataGridColumn TItem="Personal" Property="" Title="" Frozen="true" Sortable="false" Filterable="false" Width="50px" >
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="refresh" Class="m-1" Click=@(() => add(data.Id)) Text="" />
            </Template>

        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Personal" Property="" Title="" Frozen="true" Sortable="false" Filterable="false" Width="50px" >
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="report" Class="m-1" Click=@(() => Deletear(data.Id)) Text="" TextAlign="TextAlign.Left"/>
            </Template>
        </RadzenDataGridColumn>
        
    </Columns>
</RadzenDataGrid>





@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    Respuesta<List<Personal>> oRespuesta = new();

    protected override async Task OnInitializedAsync()
    {
        await Get();
    }

    async Task Get()
    {
        var respuesta = await http.GetFromJsonAsync<Respuesta<List<Personal>>>("/api/Personal");
        oRespuesta = respuesta;
        StateHasChanged();
    }

    async void Deletear(int id)
    {
        await http.DeleteAsync($"/api/Personal/{id}");
        await Get();
    }

    async Task add(int id)
    {
        if(id!=0){
            var parameters = new ModalParameters();
        parameters.Add(nameof(AddPersonal.id), id);
            var formModal = Modal.Show<AddPersonal>("Editar Personal", parameters);
        var result = await formModal.Result;
if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            await Get();
        }        
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            await Get();
        }
        }else{
             
        var formModal = Modal.Show<AddPersonal>("Agregar Personal");
        var result = await formModal.Result;
        
        
        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            await Get();
        }
    }}
}